scene_setup.preload
scene_setup.ma
figures.ma
code.pyc
data.txt
.idea/misc.xml
.idea/modules.xml
.idea/tet.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
